
<%- include('header'); -%>

    <div class="box" id="heading">

        <h1>This About Page</h1>

    </div>

    <p>This is awesome to do list website created by Adriansyah.</p>

<%- include('footer'); -%>