$black-color:#1C1D1F;

body{

    background-color: #EAF4F5;

}

hr{

    background-color: white;
    border-style: dotted none none;
    border-color: grey;
    border-width: 6px;
    height: 0px;
    width: 4%;

}

h1 {

    color: $black-color;

}

h3 {

    color: $black-color;

}

